.app {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonstuff {
  display: flex;
  justify-content: center;
  align-items: center;
}
.incrementButton{
  margin: 10px;
}
.decrementButton{
  margin: 10px;
}